
#top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 70px;
}

.siteName a {
    font-size: 30px;
    font-weight: var(--font-bold);
    color: var(--dark);
}

#tools a {
    color: var(--dark);
}

nav {
    background-color: var(--dark);
    height: 65px;
    align-content: center;
}

.nav-links>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    list-style: none;
    font-size: 16px;
    font-weight: var(--font-bold);
}

.nav-links>ul>li>a {
    color: var(--white);
}

.hero-container {
    background-image: url("../images/vehicles/delorean.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 450px;
    padding: 20px;
}

.hero-inner {
    
    background: rgba(255, 255, 255, 0.44);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 25px;
}

.hero-inner h2, p {
    color: var(--dark);
}

.hero-btn {
    background-color: #01b0d3;
    border: none;
    margin-top: 10px;
    padding: 10px;
    transition: 0.3s ease-in-out;
    border-radius: 4px;
    
}

.hero-inner a {
    color: var(--white);
    text-align: center;
    
}

.hero-btn:hover {
    transform: translateY(-3px);
}

.upgrade-section, .reviews-section {
    padding: 40px 20px;
    align-content: center;
}

.upgrade-section h3, .reviews-section h3 {
    font-size: 30px;
}

.reviews-section ul {
    margin-top: 20px;
    padding-left: 30px;
}

.reviews-section ul>li {
    line-height: 1.8em;
}

.upgrades-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 30px;
}

.upgrade-box {
    background-color: #01b0d3;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
}

.upgrade-box:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.upgrade-box img {
    width: 120px;
    height: 120px;
}

.upgrade-box p {
    margin-top: 20px;
    color: var(--white);
}


/* #inv-display {
    --min-col-size: 200px;
    display: grid;
    gap: 16px;
    list-style: none;

    grid-template-columns: 
    repeat(auto-fit, minmax(min(var(--min-col-size), 100%), 1fr));
}

/* #inv-display img {
    width: 100%;
} */

#inv-display {
    display: grid;
    gap: 16px;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

/* Small screens: 1 column */
#inv-display {
    grid-template-columns: 1fr;
}

#inv-display img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    display: block;
}

#inv-display>li {
    border: 1px solid #b8b8b8;
}

.namePrice {
    padding-bottom: 20px;
}

.namePrice h2 {
    margin-top: 20px;
}

footer {
    padding: 20px;
}