/******* Change Box Model ***************/
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-heading: "Barlow", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-regular: 400;
  --font-bold: 600; 
  --dark: #101012;
  --gray: #d9d9d9;
  --light: #f9f9f9;
  --white: #ffffff;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
  margin-bottom: 20px;
}

p,
li,
a,
label,
small, 
input {
  font-family: var(--font-body);
  text-decoration: none;
}

main {
  padding: 20px;
}