<main>
    <div class="page-wrapper">
        <!-- Page title -->
        <h1>
            <%= title %>
        </h1>

        <!-- Render the built HTML for the vehicle detail -->
        <%- vehicleDetail %>
    </div>
</main>