<div class="inv-management">
  <% if (locals.messages) { %>
    <div class="flash-messages">
      <%- messages() %>
    </div>
  <% } %>

  <% if (errors && errors.length > 0) { %>
    <ul class="notice">
      <% errors.forEach(error => { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  <% } %>

  <h2>Manage Inventory</h2>

  <p>
    Select a classification from the list to see the items belonging to that classification.
  </p>

  <div class="classification-select-wrapper">
    <%- classificationSelect %>
  </div>

  <!-- Table that inventory.js will populate -->
  <table id="inventoryDisplay"></table>

  <noscript>JavaScript must be enabled to use this page.</noscript>

  <!-- path from /inv/ to public/js/inventory.js -->
  <script src="/js/inventory.js"></script>
</div>
