<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>

    <h1>
        <%= title %>
    </h1>

    <div>
        <%- message %>
    </div>

    <p style="margin-top: 20px; color: gray;">
        Looks like the page took a wrong turn... but at least you're here now 😅
    </p>

</body>

</html>